<!doctype html>
<html lang="en-us">
    <head>
        <title>Certs</title>
        <link rel="stylesheet" href="/static/app.css" />
        <!--    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">-->
    </head>

    <body class="bg-gray-800">
        <div class="flex flex-col p-4 gap-4 absolute top-0 bottom-0 left-0 right-0">
            <div id="mygrid" class="ag-theme-quartz-dark" style="height: 100%"></div>
        </div>
        <script src="./index.ts"></script>
    </body>
</html>
