/* Fonts */
@font-face {
    font-family: basics-serif;
    src: url(/static/font/basics_serif.ttf);
}
@font-face {
    font-family: cocogoose;
    src: url(/static/font/cocogoose.ttf);
}
@font-face {
    font-family: gilroy;
    src: url(/static/font/gilroy-bold.otf);
}
@font-face {
    font-family: tcm;
    src: url(/static/font/tcm.ttf);
}

body {
    background-image: url("/static/img/bg-grid.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.blurredBody {
    background-image: url("/static/img/bg-grid-blurred.png");
    background-size:cover;
    background-repeat: no-repeat;
    height:100vh;
    width: 100vw;
    overflow:hidden;
}
noconnect {
    position: absolute;
    background-color: red;
    font-size: 400%;
    color: white;
    height: 60%;
    width: 100%;
    text-align: center;
    z-index: 100;
    left: 0%;
    vertical-align: middle;
    line-height: 800%;
    top: 15%;
    visibility: hidden;
}

:root {
    --width: 10;
    --height: 5;
}

.button-grid {
    height: 97vh;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(var(--width), 1fr);
    grid-template-rows: repeat(var(--height), 1fr);
}

/* .button-in {
    filter: grayscale(90%);
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.2);
} */

/* filter: grayscale(0%);
box-shadow: inset 0 0 0 1000px rgba(0, 255, 85, 0.2); */

.button-in {
    margin: 4px;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    filter: grayscale(100%);
    /* border-width: 20px;
    border-color: brown;
    border-style:solid; */
    
    /* border-right: -10px; */
    /* box-shadow: inset 0 0 0 1000px rgba(0, 255, 85, 0.2); */
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.4),
    0px 0px 10px rgba(255, 0, 0, 0.5);
    /* padding:translateY(50%);; */
    /* background:rgb(178, 241, 178); */
    border-radius: 20px;
    text-align: center;
    /* vertical-align: bottom; */
    position: relative;
    overflow: hidden;
}

.button-text {
    box-shadow: inset 0 0 0 1000px rgba(70, 255, 169, 0.6);
    border-radius: 14px;
    /* border-radius; */
    /* text-shadow: 0px 4px 3px #0000004d; */
    font-size: calc(17vw / var(--width));
    /* font-size: calc(27vh/var(--height)); */
    font-family: "basics-serif";
    position: absolute;
    color: white;
    /* bottom: 0; */
    /* top: 0; */
    left: 0;
    right: 0;
    /* position: relative; */
    /* bottom: 0; */
    /* right: 50%; */
    /* text-align: center; */
    display: inline-block;
    /* margin: 0 auto; */
    /* margin: 0 auto; */
    /* vertical-align: bottom; */
    /* background: rgba(255,255,255,200); */
}

.form-control {
    width:100%;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.login-form {
    max-width: 30vw;
    margin: auto;
    margin-top: 40vh;
    padding:40px;
    background-color: #f9f9f9;
    border-radius: 5px;
}
.login-form * {
    margin-top: 10px;
    box-sizing: border-box;
    /* margin-left: auto;
    margin-right:auto; */
}
.btn {
    width:100%;
    outline-color: currentcolor;
    outline-style: none;
    outline-width: 0px;
    line-height: var(--bs-btn-line-height);
    text-transform: none;
    appearance: button;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-color: currentcolor;
    text-decoration-thickness: auto;
    user-select: none;
    background-color: #0b5ed7;
    color:#fff;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 0.375rem;
    border: none
}

.form-control:invalid{
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  }