<!doctype html>
<html lang="en">
    <head>
        <title>Cluck Dash</title>
        <link rel="stylesheet" href="./style.css" />
        <link rel="shortcut icon" href="/img/favicon.svg" type="image/x-icon" />
    </head>

    <body id="body" onclick="openFullscreen()">
        <img src="./logo.svg" id="logo" alt="logo" />
        <div id="main">
            <div class="cont" id="members"></div>
            <!--            <div class="cont" id="delphi">-->
            <!--                <div id="delphicontent">-->
            <!--                    <a><h1 id="delphiTitle"></h1></a>-->
            <!--                    <h3 id="delphiBody"></h3>-->
            <!--                    <div id="bottom_fade"></div>-->
            <!--&lt;!&ndash;                    <img class="theimage" src="https://drive.google.com/uc?id=19ysfpPy6dT3m2SD24Cz6A-OuGN89nAkv" />&ndash;&gt;-->
            <!--                </div>-->
            <!--            </div>-->
        </div>
    </body>

    <script src="./index.ts"></script>
</html>
