/* Fonts */
@font-face {
    font-family: basics-serif;
    src: url(/font/basics_serif.ttf);
}
@font-face {
    font-family: cocogoose;
    src: url(/font/cocogoose.ttf);
}
@font-face {
    font-family: gilroy;
    src: url(/font/gilroy-bold.otf);
}
@font-face {
    font-family: tcm;
    src: url(/font/tcm.ttf);
}

body{
    background-image: url('/img/bg-grid.png'); 
    background-size:contain;
}
noconnect{
    position:absolute;
    background-color: red;
    font-size: 400%;
    color: white;
    height:60%;
    width: 100%;;
    text-align: center;
    z-index: 100;
    left: 0%;
    vertical-align: middle;
    line-height: 800%;  
    top: 15%;
    visibility: hidden;
}

:root {
    --width:10;
    --height:5
}

.button-grid {
    height:97vh;
    margin:10px;
    display:grid;
    grid-template-columns: repeat(var(--width),1fr);
    grid-template-rows: repeat(var(--height),1fr);  
}   

/* .button-in {
   filter: grayscale(90%);
   box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.2);
} */

/* filter: grayscale(0%);
box-shadow: inset 0 0 0 1000px rgba(0, 255, 85, 0.2); */

.button-in {
    margin:4px;
   background-size: cover;
   background-position-y: center;
   background-position-x: center;
   filter: grayscale(100%);
   /* border-width: 20px;
   border-color: brown;
   border-style:solid; */
   
   /* border-right: -10px; */
   /* box-shadow: inset 0 0 0 1000px rgba(0, 255, 85, 0.2); */
   box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.4), 0px 0px 10px rgba(255, 0, 0,.5);
    /* padding:translateY(50%);; */
    /* background:rgb(178, 241, 178); */
    border-radius: 20px;
    text-align: center;
    /* vertical-align: bottom; */
    position:relative;
    overflow:hidden;


}

.button-text {
   box-shadow: inset 0 0 0 1000px rgba(70, 255, 169, 0.6);
    border-radius: 14px;
    /* border-radius; */
     /* text-shadow: 0px 4px 3px #0000004d; */
    font-size: calc(17vw/var(--width));
    /* font-size: calc(27vh/var(--height)); */
    font-family: 'basics-serif';
    position: absolute;
    color:white;
    /* bottom: 0; */
    /* top: 0; */
    left: 0;
    right: 0;
    /* position: relative; */
    /* bottom: 0; */
    /* right: 50%; */
    /* text-align: center; */
    display: inline-block;
    /* margin: 0 auto; */
    /* margin: 0 auto; */
    /* vertical-align: bottom; */
    /* background: rgba(255,255,255,200); */
}