<!doctype html>
<html lang="en-us">
    <head>
        <title>Members</title>
        <link rel="stylesheet" href="/static/app.css" />
        <!--    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">-->
    </head>

    <body class="bg-gray-800">
        <div class="flex flex-col p-4 gap-4 absolute top-0 bottom-0 left-0 right-0">
            <div id="mygrid" class="ag-theme-quartz-dark" style="height: 100%"></div>
            <div class="flex flex-row gap-4">
                <div id="new-member-grid" class="ag-theme-quartz-dark" style="width: 100%"></div>
                <button class="border-gray-400 text-sm text-gray-50 px-2 py-1 rounded-md border bg-transparent hover:bg-gray-500 transition-colors duration-300" id="btn-add-member">Add Member</button>
                <button class="border-gray-400 text-sm text-gray-50 px-2 py-1 rounded-md border bg-transparent hover:bg-gray-500 transition-colors duration-300" id="btn-sync-slack">Sync Slack</button>
            </div>
        </div>
        <script src="./index.ts"></script>
    </body>
</html>
