name: CI

on: [push, pull_request]

jobs:
    build:
        name: 'Lint & Build'
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Setup Bun
              uses: oven-sh/setup-bun@v2
            - name: Install Node Dependencies
              run: bun install
            - name: Generate Prisma Client
              run: bun x prisma generate
              env:
                  DATABASE_URL: '_'
            - name: Lint
              run: bun run lint:code
            - name: Check Format
              run: bun run lint:style
              continue-on-error: true
            - name: Build
              run: bun run build
